@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

main {
  @apply min-h-screen px-3 sm:px-10;
}
section {
  @apply mb-5;
}

.blog-post h1 {
  @apply  text-xl -skew-y-3 mb-10 text-center;
  font-family: 'Pacifico', cursive;
}

.blog-post img {
  @apply rounded-md h-[40vh] w-auto object-cover mx-auto my-auto mb-10;
}
.blog-post h2 {
  @apply text-xl ;
}
.blog-post p {
  @apply ml-0 md:ml-10 mb-6 mt-6;
}



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
