@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply min-h-screen px-10;
}
section {
  @apply mb-5;
}

blog-post {
  @apply grid gap-4 items-center;
}

blog-post, h1 {
  @apply text-2xl mt-2 -skew-y-3; 
}
blog-post, img {
  @apply rounded-md h-[40vh] w-auto object-cover mx-auto my-auto;
}
blog-post, h2 {
  @apply text-xl mt-2;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
